@using VideoStore.Model;
@using VideoStore.Data;
@model VideoStore.Model.Movie;
@{
  ViewData["Title"] = "Index";
}

<div class="container detailmovie-container">
  <div class="row">
    <div class="col p-3">
      <a type="button" class="btn btn-outline-secondary" asp-controller="Movies" asp-action="ListMovies"
        asp-route-page="1">
        <i data-feather="chevron-left"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="d-flex col-12 col-md-6 media-img d-flex">
      <img src="@Model.Image" class="card-img-top">
    </div>
    <div class="col-12 col-md-6" style="margin:auto">
      <div>
        <h3> @Model.Title</h3>
        <p> @Model.Sinopse</p>
        <h5> <i data-feather="clock"></i> @Model.Duration</h5>
      </div>
      <hr class="mt-3 mb-3" />
      <div>
        <h3><b>R$ @Model.Price.ToString().Replace('.', ',')</b></h3>
        <a class="btn btn-primary">
          <i data-feather="shopping-bag"></i>Alugar
        </a>
      </div>
    </div>
  </div>

</div>
